.section {
	// position: relative;
	height: 100vh;
	padding: 4.5em 3em 4em 3em;
	overflow: hidden;
	background-color: var(--color-dark);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.circles {
	position: fixed;
	top: 2%;
	left: 10%;
	width: 900px;
	height: 900px;
	display: flex;
	align-items: center;
	z-index: 1;
	&__circle1 {
		border-radius: 50%;
		width: 800px;
		height: 800px;
		display: flex;
		align-items: center;
		border: 0.04em solid var(--color-medium);
	}
	&__circle2 {
		border-radius: 50%;
		width: 600px;
		height: 600px;
		display: flex;
		align-items: center;
		border: 0.04em solid var(--color-medium);
	}
	&__circle3 {
		border-radius: 50%;
		width: 400px;
		height: 400px;
		display: flex;
		align-items: center;
		border: 0.04em solid var(--color-medium);
	}
	&__circle4 {
		border-radius: 50%;
		width: 200px;
		height: 200px;
		display: flex;
		align-items: center;
		border: 0.04em solid var(--color-medium);
	}
}

.contact {
	height: 93vh;
}

.footer {
	height: 7vh;
	background-color: black;
}
